[Unit]
Description=Soundboard daemon

[Service]
Type=simple
ExecStart=/usr/bin/python /opt/soundboard/soundboard.py
WorkingDirectory=/opt/soundboard/
Restart=always
RestartSec=2

[Install]
WantedBy=sysinit.target
